<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="FlaskHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Anaconda3\envs\xcle\python.exe|C:\XCLE_deploy\XCLE\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
    </system.webServer>
</configuration>